<div class="filter-widget">
    <h4 class="fw-title">Types</h4>
    <ul class="filter-catagories">
        <li><a asp-action="Index" asp-route-type="Clothings">Clothings</a></li>
        <li><a asp-action="Index" asp-route-type="HandBags">HandBag</a></li>
        <li><a asp-action="Index" asp-route-type="Shoes">Shoes</a></li>
        <li><a asp-action="Index" asp-route-type="Accessories">Accessories</a></li>
    </ul>
</div>