@model IEnumerable<ProductDto>
@{
    ViewData["Title"] = "Shop";
}


<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="#"><i class="fa fa-home"></i> Home</a>
                    <span>Shop</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->
<!-- Product Shop Section Begin -->
<section class="product-shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                @await Component.InvokeAsync("TypeProduct")
                <partial name="../Shared/Components/_Type.cshtml">

            </div>
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="product-list">
                    <div class="row">
                        @if (Model.Count() == 0)
                        {
                            <div class="alert alert-secondary" role="alert">
                                Not Found Product 
                            </div>
                        }
                        else
                        {
                            @foreach (var item in Model)
                            {
                                <div class="col-lg-4 col-sm-6">
                                    <partial name="../Shared/Components/_Product.cshtml" model="item" />
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Shop Section End -->